
html,body{
    background-color: black;
}
h3,h4,h1{
    color: whitesmoke;
    font-weight: bolder;
    text-align: center;
}
h1{
  
    font-size: 40px;
}
h3{
    font-size: 32px;
    
}
h4{
    font-size: 29px;
    margin-top: -3%;
}
a{
    color: rgba(227, 220, 192, 0.675);
    font-weight: bolder;  
    display: block;
    margin-top: 3%;
    text-decoration: none;
    font-size: 32px;}
 .main{
        background-color: rgb(61, 42, 23);
       width: 200px;
    } 
    a:hover{
        color: rgb(225, 216, 82);
    }
    /* .github{
        text-align: justify;
    } */

    .container{
        margin-top: 3%;
       
    }